Keep things as simple as possible. Always use simplest possible solution.

Always use the latest version of the libraries.

Always use the latest version of the tools.

Always use the latest version of the frameworks.

Always use the latest version of the languages.

Always use the latest version of the databases.